In [51]:
#Task 1: Read CSV Files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

a = pd.read_csv('ipl/matches.csv')
b = pd.read_csv('ipl/deliveries.csv')
a[43:44]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN

In [3]:
##Task 2: Get top-level summary
a.describe()
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [14]:
##Task 3: Check if column 'umpire3' is useful. If not drop it and save the dataframe to a file.
a['umpire3'].unique()
a2 = a.drop(columns = ['umpire3'])
a2.to_csv('mat2csv.csv',index=False)

In [16]:
##Task 4: Print Total Number of Mataches played, Number of Seasons, 
x = pd.read_csv('mat2csv.csv')

x.count().id
x['season'].nunique()

,Unnamed: 0,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN

In [28]:
#Task 5: Players who have won the most "Player of the Match" 
## And Team which has the highest number of match wins
x['player_of_match'].value_counts()[:10]

x['winner'].value_counts().idxmax()

'Mumbai Indians'

In [31]:
#Task 6: Find Teams which have won matches by a huge margin 
big = x[(x['win_by_runs'] >= 100) | (x['win_by_wickets'] >= 8)]
big['winner'].value_counts()

Royal Challengers Bangalore    17
Kolkata Knight Riders          16
Delhi Daredevils               13
Mumbai Indians                 12
Rajasthan Royals               12
Chennai Super Kings             9
Kings XI Punjab                 7
Sunrisers Hyderabad             5
Deccan Chargers                 2
Kochi Tuskers Kerala            2
Rising Pune Supergiant          1
Rising Pune Supergiants         1
Name: winner, dtype: int64

In [32]:
#Task 7: Find Count of Matches Played at each city 
x['city'].value_counts()

Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Centurion         12
Ahmedabad         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Cape Town          7
Cuttack            7
Ranchi             7
Abu Dhabi          7
Port Elizabeth     7
Raipur             6
Sharjah            6
Kochi              5
Indore             5
Kanpur             4
Kimberley          3
Nagpur             3
East London        3
Bloemfontein       2
Name: city, dtype: int64

In [38]:
#Task 8: Find Min and Max win_by_wickets at each city
sup = x[(x['win_by_wickets'] >= 1)]

sup['city'].value_counts().idxmin()

'Bloemfontein'

In [57]:
#Task 9: Find the match with biggest defeat by runs, 
sup = x[(x['win_by_runs'] >= 1)]

print(sup[sup['win_by_runs'] == sup['win_by_runs'].max()].id)

43    44
Name: id, dtype: int64

In [6]:
#Task 10: Find the match with biggest defeat by wickets